/* header */

.navbar-brand img {
    max-width: 80px; 
    height: auto; 
}

.navbar-brand {
    margin-right: 30px;
}

.input-group{
    margin-top: 16px;
}

.navbar-search {
    flex-grow: 1; 
}

.form-control {
    background-color: #F7E7FF;
    border: none;
    border-radius: 20px 0px 0px 20px !important;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 11px;
}

.form-control:focus {
    box-shadow: none !important;
    background-color: #F7E7FF;
    border-color: none;
}

.btn-outline-success {
    border: none !important;
    background-color: #F7E7FF;
    border-radius: 0 20px 20px 0 !important;
    margin-right: 30px;
    padding-bottom: 7px;
}
.btn-outline-success:hover {
    background-color: #F7E7FF;
}
.btn-outline-success i {
    color: rgb(53, 0, 88);
}

.btn-primary {
    background-color: transparent !important;
    border-color: transparent !important;
    margin-top: 20px;
}
.btn-primary:hover {
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-primary i {
color: black;
margin-right: 20px;
}

.fa-cart-shopping {
    font-size: 24px; 
}

/* Banner */

.banner {
    width: 100vw; 
    height: 500px;
    position: relative;
    overflow: hidden;
}

.banner-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./imgs/banner1.png');
    transition: background-color 1s ease;;
}

.banner:hover .banner-hover {
    background-image: url('./imgs/banner2.png');
}

.banner-hover {
    background-size: cover;
}

/* Sessão Produtos Mais Vendidos */

.titulo-mais-vendidos {
    font-family: "Carrois Gothic SC", sans-serif;
}

.section-mais-vendidos .row {
    justify-content: center; 
    align-items: center; 
    margin-bottom: 30px;
}

.section-mais-vendidos .fa-heart {
    font-size: 2rem;
    margin-top: 30px; 
}

.section-mais-vendidos .produtos {
    margin-top: 30px; 
}

.section-mais-vendidos hr {
    margin: 10px auto; 
    width: 25%;
    color:blueviolet;
    border-width: 2px;
}
.product-img {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s ease; 
    border-radius: 10%
}

.product-img:hover {
    transform: scale(1.1); 
}

.product-link {
    display: block; 
}

/* Sessão Produtos em promoção */

.wave-container {
    position: relative;
    width: 100vw; 
    height: 600px;
    background-image: url('./imgs/wave.png');
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-text {
    display: inline-block;
    font-size: 2.5rem;
    color: black;
    font-family: "Carrois Gothic SC", sans-serif;
}

.banner-promocao {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

.banner-promocao img {
    width: 90vw;
    max-width: 100%; 
    height: auto;
    margin-top: -150px;
    border-radius: 60px;
}

/* Sessão de Lançamentos */

.section-lancamentos {
    margin-top: -70px;
    margin-bottom: 70px;
}

.section-lancamentos img {
    max-width: 90%;
    height: auto;
    border-radius: 50px;
}

.titulo-lancamentos {
    font-size: 2rem;
    font-weight: bold;
    color: #333; 
}

.section-lancamentos hr {
    margin: 10px auto; 
    width: 75%;
    color:blueviolet;
    border-width: 2px;
}

.section-lancamentos .fa-heart {
    font-size: 2rem;
    margin-top: 30px; 
}

.descricao-lancamentos {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
    margin-top: 50px;
}
.btn-primary.custom-btn {
    background-color: #FFA8D9 !important; 
    color: #000000; 
    border: none;
    padding: 12px 100px;
    border-radius: 50px;
    transition: background-color 0.3s;
    margin-top: 20px;
    font-size: 1.2rem;
}

.btn-primary.custom-btn:hover {
    background-color: #ffc0e4 !important;
    color: #000000;
}

/* Footer */

.footer {
    background-color: #e3b1fc ;
    color: #000000;
    padding: 50px 0;
    
}



.footer h5 {
    color: #000000;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #000000;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
    color: #ff0090;
}

.footer .fab {
    margin-right: 10px;
}

.logo {
    max-width: 60%;
    height: auto;
}
